name: Notify Discord

on:
  issues:
    types: [opened, closed, reopened]
  pull_request:
    types: [opened, closed, reopened]

jobs:
  notify:
    uses: oxxymore-interactive/.github/.github/workflows/discord-notify.yml@main
    with:
      event_name: ${{ github.event_name }}
      repository: ${{ github.repository }}
      actor: ${{ github.actor }}
