name: GitHub → Discord notifications

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]
  push:
    branches: [main]

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Send notification to Discord
        uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_GITHUB_ACTIVITY }}
          DISCORD_USERNAME: "OXXYMORE • GitHub"
          DISCORD_AVATAR: "https://avatars.githubusercontent.com/u/9919?s=200&v=4"
          DISCORD_MESSAGE: |
            **Repository:** ${{ github.repository }}
            **Event:** ${{ github.event_name }}
            **Actor:** ${{ github.actor }}
            **Link:** https://github.com/${{ github.repository }}
